---
layout: default
title: Forrester Cites GitLab As A Strong Performer In Value Stream Management Tools Evaluation
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "/resources/forrester-new-wave-vsm-2018/"
form_id: "1002"
form_type: "resources"
cta_title: "Download the report"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the report."
success_message: "You will also receive a copy of the report sent to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Forrester Cites GitLab As A Strong Performer In Value Stream Management Tools Evaluation

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p In Forrester's evaluation of the emerging market for value stream management (VSM) tools, they identified the 13 most significant providers in the category and evaluated them.
            %br

            %p This report details how each vendor scored against 10 criteria and where they stand in relation to each other. Application development and delivery (AD&D) leaders should use it to select the right solution for improving software development.
            %br

            %p Forrester evaluated GitLab as a Strong Performer in value stream management in The Forrester New Wave™: Value Stream Management Tools, Q3 2018. As the report states, “GitLab combines end-to-end capability with the power of open source.”
            %br

            %p Download the full report to learn more about why GitLab was cited as a Strong Performer in The Forrester New Wave™: Value Stream Management Tools, Q3 2018.

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource"
